<html>
    <head>
        <title>About</title>
    </head>
    <body bgcolor="#DBF9FC">
        <h2 align="center" ><u> ABOUT </u></h2>
        <p align="justify">We have come up with a new innovative solution through which you can directly do your online shopping based on your choice without any search. It can be done by using the chatbot.

  In this project you will be working on two modules :

   1. Admin and
   2. User

 Admin:
      The role of the admin is to check out the database about the stock and have a track of all the things that the users are purchasing.
 User :
      The user will login into the website and go through the products available on the website.  Instead of navigating to several screens for booking products online, the user can directly talk to Chatbot regarding the products.  Get the recommendations based on information provided by the user.

  </p>
<h3>Features of Chatbot:</h3>
<p><ul>
    <li>Using chatbot we can manage user's choices and orders.</li>

    <li>The chatbot can give recommendations to the users based on their interests.</li>

    <li>It can promote the best deals and offers on that day.</li>

    <li>It will store the customer's details and orders in the database.</li>

    <li>The chatbot will send a notification to customers if the order is confirmed.</li>

    <li>Chatbots can also help in collecting customer feedback.</li></p>
 <a href=" http://www.ijpe-online.com/EN/10.23940/ijpe.21.08.p5.695702

           http://www.ijpe-online.com/EN/Y2021/V17/I8/695">For more details click here</a> <br> 
    </body>
    
</html>