<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASSIGNMENT-3</title>
    <style>
  body{
    text-align: center;
    background-color: rgb(255, 182, 193);
 
  }
  img{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 300px;
    width: 600px;
  }
  </style>
</head>
<body>
    <h1>Cloud Object Storage</h1>
    <h2> PROJECT - SMART FASHION RECOMMDER APPLICATION</h2>
    <h2> NAME :VIDHYA.S(820319104046)</h2>
    <img src="https://cloud-object-storage-3i-cos-standard-kyd.s3.jp-tok.cloud-object-storage.appdomain.cloud/image%201.png" alt="img1">
    <img src="https://cloud-object-storage-3i-cos-standard-kyd.s3.jp-tok.cloud-object-storage.appdomain.cloud/image%202.png" alt="img2">
    <img src="https://cloud-object-storage-3i-cos-standard-kyd.s3.jp-tok.cloud-object-storage.appdomain.cloud/image%203.jpg" alt="img3">
    <img src="https://cloud-object-storage-3i-cos-standard-kyd.s3.jp-tok.cloud-object-storage.appdomain.cloud/image%205.png" alt="img4">
    <script>
  window.watsonAssistantChatOptions = {
    integrationID: "92701a71-8026-46b2-84de-009ae1717ed4", // The ID of this integration.
    region: "eu-de", // The region your integration is hosted in.
    serviceInstanceID: "fe33e0bd-bc5a-46e7-8a74-ef82ad819890", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
</body>
</html>